<div style="background-color:grey;">
    <div class="container">
        <h1 class="d-flex justify-content-center text-center Wanted-title">Wanted details</h1>

        <header class="d-flex justify-content-center align-items-center" style="background-color: #C92300;">
            <img class="fbi-logo" src="/images/pngwing.com.png" alt="FBI LOGO">
            <h1 class="Wanted-title">WANTED BY THE FBI</h1>
        </header>

        <div>
            <div class="card text-center">
                <h2 class="titles-result mt-3">{{title}}</h2>
                <h3 class="card-text">{{subjects}}</h3>
                <img class="card-img-top imageSize rounded mx-auto d-block"
                    onerror="this.src='https://www.nicepng.com/png/detail/73-730154_open-default-profile-picture-png.png';"
                    src="{{images.[0].original}}" alt="No criminal image found">
                <div class="card-body">
                    <h5 class="titles-result">Description</h5>
                    <p class="card-text">{{description}}</p>
                    <h5 class="titles-result">Raza</h5>
                    <p class="card-text">{{race_raw}}</p>
                    <h5 class="titles-result">Details</h5>
                    <p class="card-text me-5 ms-5">{{details}}</p>
                    <h5 class="titles-result">Physics marks</h5>
                    <p class="card-text">{{scars_and_marks}}</p>
                    <h5 class="titles-result">Alias</h5>
                    <p class="card-text">{{aliases}}</p>
                    <h5 class="titles-result">Person classification</h5>
                    <p class="card-text">{{person_classification}}</p>
                </div>
            </div>
        </div>
    </div>
</div>